.nav{
	padding-top:10px;
}
.nav a, .nav .open>a, .nav .open>a:hover, .nav .open>a:focus{
  color: #5a5a5a;
  font-size: 11px;
  font-weight: bold;
  padding: 14px 10px;
  text-transform: uppercase;
  display: inline;
  border: none;
  outline:none;
  background-color:#ffffff;
}
.nav ul{
	padding-bottom:0;
	padding-top:3px;
}

.nav li {
  display: inline;
}

.dropdown{
 display: inline;
}

.header{
	background-color: #f7f7f7;
	height:80px;
	display: inline;
}
.logo-img{
	width:10%;
	height:10%;
	display: inline-block;
}
.btn{
	font-weight:bold;
	color:#fff;
	background-color: #3399cc;	
	overflow: hidden;
	height:42px;
}

.input-box{
	padding: 9px;
	border: 2px solid #3399cc;
	border-radius: 5px;
	width: 700px;
	font-size:14px;
	display: inline-block;
	overflow: hidden;
}

.note-display{
	width:100%;
	height:300px;
	background-color:#3399cc;
	clear:both;
}
.jumbotron{
	background-color:#3399cc;
	height: 400px;
	border: 0px solid #3399cc;
	border-radius: 10px;
	
	overflow-y: scroll; 
}

.jumbotron .container {
	background-color: #3399cc;
	
	position: relative;
	margin-bottom:15px;
}

.jumbotron h1 {
  color: #fff;
  font-size: 48px;  
  font-family: 'Shift', sans-serif;
  font-weight: bold;
}

.jumbotron p {
  font-size: 20px;
  color: #fff;
}

#scrollbar{
	overflow: auto;
}
.info-tab{}

.info-tabs{
    background-color: #efefef;
    border-bottom: 1px solid #dbdbdb;
	height:20%;
}

.info-tabs h2{
    color: #393c3d;
    font-size: 24px;
}

.info-tabs p{
    font-size: 15px;
    margin-bottom: 13px;
}
.info-tabs {
	/*border: 2px solid #787676;*/
	
}
legend{
	margin-top:10px;
	margin-bottom:5px;
}

.footer {
	background-color: #f7f7f7;
}

.footer h3 {
	font-family: 'Shift', sans-serif;
	font-size: 18px;
	font-weight: bold;
}


.thumbnail img, .social-icon{
	transition: transform 0.3s ease-in-out;
}

.thumbnail img:hover, .social-icon img:hover {
    transform: scale(0.95);
}


#childrenList, #tagList, #categoryList, ul{
	list-style-type: none;
	padding: 0;
	display: table;
}

.social-icons li{
		
}

.social-icon{
	width:24px;
	height:24px;
	margin-right:5px;
	margin-bottom:5px;

}

div .inline{
	display: inline-block;
	
}

a.fancybox img {
    border: none;
	/*box-shadow: 0 1px 7px rgba(0,0,0,0.6);*/
	-o-transform: scale(1,1); -ms-transform: scale(1,1); -moz-transform: scale(1,1); -webkit-transform: scale(1,1); 
	-moz-transition: all 0.2s ease-in-out; -webkit-transition: all 0.2s ease-in-out; 
	transform: scale(1,1); 
	transition: all 0.2s ease-in-out;
} 
a.fancybox:hover img {
    position: relative; 
	z-index: 999;
	-o-transform: scale(1.02,1.02); -ms-transform: scale(1.02,1.02); -moz-transform: scale(1.02,1.02); -webkit-transform: scale(1.02,1.02); 
	transform: scale(1.02,1.02);
}

.track3 {
    width: 10px;
    background: rgba(0, 0, 0, 0);
    margin-right: 2px;
    border-radius: 10px;
    -webkit-transition: background 250ms linear;
    transition: background 250ms linear;
}

.track3:hover,
.track3.dragging {
    background: #d9d9d9; 
    background: rgba(0, 0, 0, 0.15);
}

.handle3 {
    width: 7px;
    right: 0;
    background: #999;
    background: rgba(0, 0, 0, 0.4);
    border-radius: 7px;
    -webkit-transition: width 250ms;
    transition: width 250ms;
}

.track3:hover .handle3,
.track3.dragging .handle3 {
    width: 10px;
}