
<!DOCTYPE html>
<html>

  <head>
    <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
    <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.0.0-rc2/css/bootstrap-glyphicons.css">
    <link rel="stylesheet" href="http://s3.amazonaws.com/codecademy-content/courses/ltp/css/bootstrap.css">
    <link rel="stylesheet" href="main.css">
  </head>

  <body>
  <div class="nav">
      <div class="container">
        <ul class="pull-left">
          <li><a href="index.html"><img class="logo-img" src="images/NoteStrIcon.png"></a></li>
          <li><input class="input-box" id="name" placeholder="  Search notes" style="margin-left:50px"></li>
          <li><button style="margin-left:5px" type="button" class="btn">GO</li>


        </ul>

      </div>
    </div>

    <div class="jumbotron">
      <div class="container">
        <h1>NoteSter</h1>
      </div>
    </div>
	   <div class = "container">
          			<ul id="list"></ul>
          			<!--<ul>
          			<li><a id = "resourceTitle" href = # class = "title col-md-4">Resource 1</a></li>
          			<div class = "upDownVote col-md-2"><div id = "voteCount" class = "tally ">10</div>

          				<a id = "upVoteButton" href = "#">
          					<span class = "glyphicon glyphicon-thumbs-up thumb upDownVote" aria-hidden="true"></span>
          					</a>
          				<a id = "downVoteButton" href = "#">
          					<span class = "glyphicon glyphicon-thumbs-down thumb upDownVote" aria-hidden="true"></span>
          				</a>
          				<li><a href="#" class = "authorName">Author</a></li>
          			</div>

          			<p class = col-md-12>Aavi eiqvqn eqivqjqe. Thoenqv eiqnd eqoov qqkedas wqow, winvqo! fwqifqncqei qcieqncqi qicq cqirpq cowq cwoq. Aavi eiqvqn eqivqjqe. Thoenqv eiqnd eqoov qqkedas wqow, winvqo! fwqifqncqei qcieqncqi qicq cqirpq cowq cwoq. Aavi eiqvqn eqivqjqe. Thoenqv eiqnd eqoov qqkedas wqow, winvqo! fwqifqncqei qcieqncqi qicq cqirpq cowq cwoq. Aavi eiqvqn eqivqjqe. Thoenqv eiqnd eqoov qqkedas wqow, winvqo! fwqifqncqei qcieqncqi qicq cqirpq cowq cwoq. Sure would be rad if you read the rest of this resource...</p>
          			<a href="#" class = "col-md-2">Read More</a>
                      </ul>-->
     </div>

	 <script src = main.js></script>
  </body>
</html>
