Keith



Drive
My Drive
NEW 
Folders and views
My Drive
Shared with me
Google Photos
Recent
Starred
Trash
Name
Owner
Last modified
File size
Website
me
10:10 am
—
Sharedpics
me
Jun 29, 2015
—
Final
me
May 29, 2015
—
CIS 254
me
May 24, 2015
—
assign8
me
May 21, 2015
—
Shit
me
Apr 27, 2015
—
Work
me
Mar 27, 2015
—
Shapes
me
Mar 4, 2015
—
Testfield
me
Feb 18, 2015
—
Shared Resume
me
Feb 18, 2015
—
IntegerSet
me
Feb 18, 2015
—
assign2
me
Feb 16, 2015
—
CIS 114
me
Feb 16, 2015
—
.recommenders
me
Feb 12, 2015
—
Rectangle
me
Feb 12, 2015
—
Old
me
Feb 12, 2015
—
.metadata
me
Feb 12, 2015
—
Star Ronin
me
Feb 12, 2015
—
Modern JavaScript Develop and Design - MG
me
Feb 5, 2015
—
workspace
me
Jan 30, 2015
—

Iron Ghost.xlsm
me
Aug 8, 2015
758 KB

Soldier Tracker
me
Jul 1, 2015
—

SAM_2013_Getting_Started_Guide_Student_UPDATE.ppt
me
Jun 19, 2015
6 MB

Untitled document
me
Jun 16, 2015
—

060515 061315 Voucher doubles.pdf
me
Jun 7, 2015
144 KB

Final.zip
me
May 29, 2015
88 KB

assign8.zip
me
May 21, 2015
568 KB

document.pdf
me
Apr 23, 2015
114 KB

Durrius 2.0.pdf
me
Apr 4, 2015
570 KB

beefs.chum5
me
Mar 31, 2015
172 KB

InternshipResume.docx
me
Mar 20, 2015
21 KB

ModernJSDD_CH07.pps
me
Mar 5, 2015
433 KB

Tracking.xlsx
me
Mar 5, 2015
9 KB

HoRNDIS-rel6.pkg
me
Mar 4, 2015
114 KB

10422980_1586144684958992_5126079436672262081_n.jpg
me
Mar 3, 2015
33 KB

nakasi-ktu84p-factory-76acdbe9.tgz
me
Feb 25, 2015
363 MB

InternshipResume.docx
me
Feb 20, 2015
20 KB

Cover Letter.docx
me
Feb 20, 2015
14 KB

assign2.zip
me
Feb 16, 2015
163 KB

Project2Files.zip
me
Feb 12, 2015
4 KB

Paul Deitel , Harvey Deitel - Java How To Program, 10th Edition (Early Objects).pdf
me
Jan 24, 2015
15 MB
My Drive
Details
Activity
TODAY

Youuploaded 2 items
10:10 AM
Style Sheet
main.css
HTML
index.html

Youcreated an item in
10:10 AM
Google Drive Folder
My Drive
Google Drive Folder
Website
YESTERDAY

Julia Ladutkoedited an item
Computer • Fri 10:38 PM
Image
IMG_2008.JPG

Julia Ladutkoedited an item
Computer • Fri 10:38 PM
Image
IMG_2009.JPG

Julia Ladutkoedited an item
Computer • Fri 10:38 PM
Image
IMG_2006.JPG

Julia Ladutkoedited an item
Computer • Fri 10:38 PM
Image
IMG_2005.JPG

Julia Ladutkoedited an item
Computer • Fri 10:38 PM
Image
IMG_2007.JPG

Julia Ladutkoedited an item
Computer • Fri 10:37 PM
Image
IMG_2003.JPG

Julia Ladutkoedited an item
Computer • Fri 10:37 PM
Image
IMG_2002.JPG

Julia Ladutkoedited an item
Computer • Fri 10:37 PM
Image
IMG_2004.JPG
LAST WEEK

Youuploaded an item
Aug 8
Excel
Iron Ghost.xlsm
L
LEIGH DUGGANadded 25 items to
Aug 5
Google Drive Folder
Sharedpics
Image
IMG_2167.JPG
Image
IMG_2176.JPG
Image
IMG_2183.JPG
Image
IMG_2163.JPG
Image
IMG_2007.JPG
Image
IMG_2172.JPG
Show all...
LAST MONTH

Youedited an item
Jul 1
Google Sheets
Soldier Tracker

Youshared an item
Jul 1
Excel
Tracking.xlsx
Can view
Anyone with the link

Youshared an item
Jul 1
Google Sheets
Soldier Tracker
G
Can comment
Glen Naftaniel

Youcreated and shared an item in
Jul 1
Google Drive Folder
My Drive
Google Sheets
Soldier Tracker
Can comment
Anyone with the link
EARLIER THIS YEAR

Julia Ladutkocreated and shared 122 items in
Computer • Jun 30
Google Drive Folder
Sharedpics
Image
IMG_20150628_142746.jpg
Image
IMG_20150628_143439.jpg
Image
IMG_20150628_130753.jpg
Image
IMG_20150628_143436.jpg
Image
IMG_20150628_142815.jpg
Image
IMG_20150628_130750.jpg
Show all...
L
Can edit
LEIGH DUGGAN
Can edit
Anyone with the link

Can edit
You

Youcreated and shared 18 items in
Mobile • Jun 30
Google Drive Folder
Sharedpics
Image
IMG_20150626_154636.jpg
Image
IMG_20150626_154705.jpg
Image
IMG_20150626_154634.jpg
Image
IMG_20150620_195640.jpg
Image
IMG_20150628_115203.jpg
Image
IMG_20150626_155332.jpg
Show all...
L
Can edit
LEIGH DUGGAN
Can edit
Anyone with the link

Youcreated and shared an item in
Mobile • Jun 29
Google Drive Folder
My Drive
Google Drive Folder
Sharedpics
L
Can edit
LEIGH DUGGAN
Can edit
Anyone with the link

Youuploaded an item
Jun 19
PowerPoint
SAM_2013_Getting_Started_Guide_Student_UPDATE.ppt
Get Drive for PC
3 GB used (22%)
Buy more storage

index.html
Open with
<!DOCTYPE html>
<html>

  <head>
    <link href="http://s3.amazonaws.com/codecademy-content/courses/ltp/css/shift.css" rel="stylesheet">
    
    <link rel="stylesheet" href="http://s3.amazonaws.com/codecademy-content/courses/ltp/css/bootstrap.css">
    <link rel="stylesheet" href="main.css">
    
  </head>

  <body>
    <div class="nav">
      <div class="container">
        <ul class="pull-left">
          <li><a href="#">Name</a></li>
          <li><a href="#">Browse</a></li>
        </ul>
        <ul class="pull-right">
          <li><a href="#">Sign Up</a></li>
          <li><a href="#">Log In</a></li>
          <li><a href="#">Help</a></li>
        </ul>
      </div>
    </div>

    <div class="jumbotron">
      <div class="container">
        <h1>Welcome to Eastman.</h1>
        <p>The most adequate web developer you've ever seen.</p>
        <a href="#">Learn More</a>
      </div>
    </div>
	<div class = "container">
	<div class = "nav nav-tabs">
		<li class = "col-md-3 tab"><a href = "#">Java</a></li>
		<li class = "col-md-3 tab"><a href = "#">Javascript</a></li>
		<li class = "col-md-3 tab"><a href = "#">PhP</a></li>
		<li class = "col-md-3 tab"><a href = "#">Android</a></li>
	</div>
    <div class = "neighborhood-guides">
        <div class = "container">
            <h2>Neighborhood Guides</h2>
            <p>Not sure where to stay? We've created neighborhood guides for cities all around the world'</p>
            <div class = "row">
            <div class = "col-md-4">
                <div class="thumbnail">
                    <img src="http://goo.gl/0sX3jq" >
                </div>
                <div class="thumbnail">
                    <img src="http://goo.gl/an2HXY" >
                </div>
            </div>
            <div class = "col-md-4">
                <div class="thumbnail">
                    <img src="http://goo.gl/Av1pac">
                </div>
                <div class="thumbnail">
                    <img src="http://goo.gl/vw43v1">
                </div>
            </div>
            <div class = "col-md-4">
                <div class="thumbnail">
                    <img src="http://goo.gl/0Kd7UO">
                </div>
            </div>
            </div>
        </div>
    </div>
    <div class="learn-more">
	  <div class="container">
		<div class = "row">
	      <div class = "col-md-4">
			<h3>Travel</h3>
			<p>From apartments and rooms to treehouses and boats: stay in unique spaces in 192 countries.</p>
			<p><a href="#">See how to travel on Airbnb</a></p>
	      </div>
		  <div class = "col-md-4">
			<h3>Host</h3>
			<p>Renting out your unused space could pay your bills or fund your next vacation.</p>
			<p><a href="#">Learn more about hosting</a></p>
		  </div>
		  <div class = "col-md-4">
			<h3>Trust and Safety</h3>
			<p>From Verified ID to our worldwide customer support team, we've got your back.</p>
			<p><a href="#">Learn about trust at Airbnb</a></p>
		  </div>
	    </div>
	  </div>
	</div>
  </body>
</html>