
<!DOCTYPE html>
<html>

  <head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
	<link href="http://s3.amazonaws.com/codecademy-content/courses/ltp/css/shift.css" rel="stylesheet">
    <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.0.0-rc2/css/bootstrap-glyphicons.css">
    <link rel="stylesheet" href="http://s3.amazonaws.com/codecademy-content/courses/ltp/css/bootstrap.css">
    <link rel="stylesheet" href="main.css">
    
  </head>

  <body>
    <div class="nav">
      <div class="container">
        <ul class="pull-right">
          <li><a href="#">Search</a></li>
        </ul>
      </div>
    </div>

    <div class="jumbotron">
      <div class="container">
        <h1>Results for $query</h1>
      </div>
    </div>
	<div class = "container">
    <div class = "neighborhood-guides">
        <div class = "container">
			<ul id="list"></ul>
			<script>
			$(document).ready(function() {     
				$.getJSON( "test.json", function( data ) {
					$.each( data, function( key, val ) {
						$('#list').append("<li>" + val.title +"<br>"+ val.description+"</li>" );
					});
				});
			});
			</script>
            
			<ul>
			<li><a id = "resourceTitle" href = # class = "title col-md-4">Resource 1</a></li>
			<div class = "upDownVote col-md-2"><div id = "voteCount" class = "tally ">10</div>
			
				<a id = "upVoteButton" href = "#">
					<span class = "glyphicon glyphicon-thumbs-up thumb upDownVote" aria-hidden="true"></span>
					</a>
				<a id = "downVoteButton" href = "#">
					<span class = "glyphicon glyphicon-thumbs-down thumb upDownVote" aria-hidden="true"></span>
				</a>
				<li><a href="#" class = "authorName">Author</a></li>
			</div>
			
			<p class = col-md-12>Aavi eiqvqn eqivqjqe. Thoenqv eiqnd eqoov qqkedas wqow, winvqo! fwqifqncqei qcieqncqi qicq cqirpq cowq cwoq. Aavi eiqvqn eqivqjqe. Thoenqv eiqnd eqoov qqkedas wqow, winvqo! fwqifqncqei qcieqncqi qicq cqirpq cowq cwoq. Aavi eiqvqn eqivqjqe. Thoenqv eiqnd eqoov qqkedas wqow, winvqo! fwqifqncqei qcieqncqi qicq cqirpq cowq cwoq. Aavi eiqvqn eqivqjqe. Thoenqv eiqnd eqoov qqkedas wqow, winvqo! fwqifqncqei qcieqncqi qicq cqirpq cowq cwoq. Sure would be rad if you read the rest of this resource...</p>
			<a href="#" class = "col-md-2">Read More</a>
            </ul>
        </div>
    </div>
  </body>
</html>